.wrapper {
  display: grid;
  gap: 24px;
  margin-top: clamp(36px, calc(48vw/7.68), 64px);
  position: relative;
  .input .react-select__control {
    border-color: var(--primary-800) !important;
  }

  .columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @media (max-width: 420px) {
      grid-template-columns: 1fr;
    }
  }

  .status {
    position: absolute;
    inset: -10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px 24px;
    z-index: 3;
    background-color: var(--primary-50);
    h3 {
      margin: 24px 0 13px;
    }
    button {
      margin-top: 24px;
    }
  }
  label {
    position: relative;

    textarea {
      border-radius: 20px;
    }

    span {
      display: none;
    }

    .error{
      position: absolute;
      top: -2px;
      left: 32px;
      transform: translateY(-100%);
      color: #B40909;
      width: max-content;
      font-size: clamp(12rem, calc(14vw/7.68), 16rem);
    
      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(12vw/3.7), 12rem);
      }
    }
  }
}

.submit{
  border: none;
  margin-top: -6px;
}