.wrapper {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  padding: clamp(48px, calc(48vw/7.68), 64px) clamp(24px, calc(36vw/7.68), 64px);
  position: relative;

  h2 {
    margin-right: clamp(214px, calc(214vw/7.68), 452px);
    font-size: clamp(32rem, calc(36vw/7.68), 48rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw/3.7), 32rem);
    }

    @media (max-width: 640px) {
      margin-right: 0;
    }
  }

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
}

.image {
  position: absolute;
  right: -4px;
  bottom: -72px;

  width: clamp(359px, calc(359vw/7.68), 588px) !important;    
  height: auto !important;

  @media (max-width: 1024px) {
    right: -40px;
    bottom: -40px;
  }

  @media (max-width: 640px) {
    position: relative;
    right: unset;
    bottom: unset;
    width: 100% !important;
    margin-bottom: -12%;
  }
}

.text {
  margin-top: clamp(20px, calc(28vw/7.68), 28px);
  margin-bottom: 36px;
  margin-right: clamp(264px, calc(264vw/7.68), 452px);

  @media (max-width: 640px) {
    margin-right: 0;
  }

  >*+* {
    margin-top: clamp(12px, calc(16vw/7.68), 24px);
  }

  strong {
    color: var(--primary-800);
    font-size: clamp(24rem, calc(28vw/7.68), 32rem);
    font-weight: 500;

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }
}