.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(24px, calc(24vw/7.68), 36px);

  @media (max-width: 1200px) {
    grid-auto-rows: unset;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }

  .item {
    display: grid;
    grid-template-rows:auto  1fr ;
    .text {

      padding: clamp(20px, calc(24vw/7.68), 36px) clamp(20px, calc(24vw/7.68), 36px) clamp(20px, calc(28vw/7.68), 42px) clamp(20px, calc(24vw/7.68), 36px);
      border-radius: 20px;
      background: #FFF;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);

      strong {
        font-size: clamp(20rem, calc(24vw/7.68), 28rem);
        display: block;
        margin-bottom: 12px;
        color: var(--primary-800);
      }

      p {
        font-size: clamp(16rem, calc(16vw/7.68), 20rem);
      }
    }

    .image {
      width: 100% !important;
      height: clamp(140px, calc(140vw/7.68), 190px) !important;

      @media (max-width: 640px) {
        min-height: 141px !important;
        aspect-ratio: unset;
      }

      img {
        border-radius: 20px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
        object-position: center 25%;
      }
    }
  }
}