.wrapper {

  h2, h1 {
    font-size: clamp(32rem, calc(36vw/7.68), 48rem);
    margin-bottom: clamp(24px, calc(28vw/7.68), 48px);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw/3.7), 32rem);
    }
  }

  .cartControl {
    display: grid;
    grid-template-columns: 516fr 185fr 185fr auto 88fr;
    gap: 32px;
    border-radius: 20px;
    background: #F1F6FB;
    padding: 14px 24px 16px 24px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);

    @media (max-width: 972px) {
      grid-template-columns: 516fr 185fr 185fr 88fr;

      .total {
        display: none;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }

    span {
      font-size: 20rem;
    }
  }

  .grid {
    margin-bottom: clamp(36px, calc(48vw/7.68), 80px);
  }

  .summary {
    display: grid;
    gap: 48px 16px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'discount price'
      'link submit';

    @media (max-width: 768px) {
      grid-template-areas:
        'discount discount'
        'price price'
        'link submit';
      grid-template-rows: 1fr auto auto;
    }

    @media (max-width: 480px) {
      grid-template-areas:
        'price'
        'discount'
        'link'
        'submit';
      grid-template-rows: 1fr auto auto auto;
      grid-template-columns: 1fr;
      gap: 16px;
    }


    >.left {
      grid-area: link;
      font-size: 20rem;
      color: var(--primary-800);
      margin: auto 0;

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(20vw/3.7), 20rem);
      }

      @media (max-width: 480px) {
        margin: 0 auto 20px auto;
      }
    }

    >.right {
      grid-area: submit;
      margin-left: auto;

      @media (max-width: 480px) {
        margin: 0 auto;
      }
    }

    .discount {
      position: relative;
      max-width: 476px;
      width: 100%;
      grid-area: discount;
      display: grid;
      grid-template-columns: 1fr auto;
      height: fit-content;
      align-items: flex-end;
      gap: 8px;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        max-width: unset;
      }

      input {
        border-radius: 50px;
        border: 2px solid var(--primary-800);
        background: #FFFEFE;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
        padding: clamp(12px, calc(12vw/7.68), 16px) 28px;
        width: 100%;
      }

      label {
        display: grid;
        gap: 4px;

        span {
          margin-left: 26px;
          font-size: clamp(14rem, calc(20vw/7.68), 20rem);

          @media (max-width: 370px) {
            font-size: clamp(0rem, calc(14vw/3.7), 14rem);
          }
        }
      }

      .error{
        color: #B40909;
        font-size: clamp(12rem, calc(14vw/7.68), 16rem);
        position: absolute;
        left: 26px;
        bottom: -4px;
        transform: translateY(100%);
      }
    }

    .price {
      grid-area: price;
      max-width: 550px;
      width: 100%;
      margin-left: auto;

      .coupon {
        align-items: center;
        color: var(--primary-800);
        font-size: clamp(14rem, calc(20vw/7.68), 20rem);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(14vw/3.7), 14rem);
        }

        button {
          border: none;
          background-color: transparent;
        }
      }

      @media (max-width: 768px) {
        max-width: unset;
      }

      >p {
        display: flex;
        justify-content: space-between;
        gap: 8px;
      }

      >a,
      >button {
        margin-left: auto;
        margin-top: 48px;
      }
    }
  }
}