.wrapper {
  display: block;

  .image {
    aspect-ratio: 405/328 !important;
    margin-bottom: 20px;
    width: 100% !important;
    height: auto !important;

    img {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
  }

  .title {
    font-size: clamp(24rem, calc(28vw/7.68), 36rem);
    color: var(--primary-800);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }

  .text{
    font-size: clamp(14rem, calc(16vw/7.68), 20rem);
    margin-top: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(14vw/3.7), 14rem);
    }
  }
}