.grid {
  gap: clamp(16px, calc(24vw/7.68), 32px);
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.left,
.right {
  background: #F1F6FB;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: clamp(28px, calc(28vw/7.68), 36px) clamp(20px, calc(20vw/7.68), 36px);


  h3 {
    margin-bottom: clamp(20px, calc(24vw/7.68), 28px);

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}

.right {
  background: #FFFFFF;
}

.item {
  display: flex;
  gap: 12px;

  p {
    font-size: clamp(16rem, calc(20vw/7.68), 24rem);

    @media (max-width: 640px) {
      margin-top: 1px;
    }

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(16vw/3.7), 16rem);
    }
  }

  svg {
    margin-top: 4px;
    min-width: 30px;

    @media (max-width: 640px) {
      margin-top: 0;
    }
  }
}

.item+.item {
  margin-top: 16px;
}