.wrapper {
  background: #F1F6FB;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: clamp(20px, calc(28vw/7.68), 36px) clamp(16px, calc(48vw/7.68), 48px);

  h2 {
    font-size: clamp(28rem, calc(36vw / 7.68), 48rem);
    line-height: 124%;
    max-width: 856px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(28vw / 3.7), 28rem);
    }
  }

  p{
    margin: clamp(20px, calc(28vw/7.68), 36px) auto 0 auto;
    max-width: 856px;
    text-align: center;
  }
}

.link {
  margin: 36px auto 0 auto;
}