.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 443px 1fr;
  margin-top: clamp(20px, calc(28vw/7.68), 64px);

  &.alt {
    grid-template-columns: 1fr !important;

    .content {
      border-radius: 20px;
      border: 2px solid #DEAFB8;
      background: #FFF;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
    }
  }

  @media (max-width: 1024px) {
    gap: 0;
    grid-template-columns: 271fr 433fr;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr !important;
  }
}

.content {
  border-radius: 20px;
  background: #F1F6FB;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  padding: clamp(36px, calc(36vw/7.68), 48px) clamp(20px, calc(20vw/7.68), 36px);
  height: fit-content;

  @media (max-width: 1024px) {
    height: unset;
    min-width: 271px;
  }

  h2 {
    margin-bottom: 24px;
    font-size: clamp(28rem, calc(32vw/7.68), 40rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(28vw/3.7), 28rem);
    }
  }
}