.footer {
  margin-top: clamp(64px, calc(96vw/7.68), 180px);
  padding: 50px 80px;
  max-width: 1440px;
  margin: auto;

  @media (max-width: 1439px) {
    padding: 50px clamp(16px, calc(32vw/7.68), 80px) 89px;
  }

  a {
    width: fit-content;
    position: relative;
    font-size: clamp(20rem, calc(20vw/7.68), 24rem);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 3px;
      z-index: -1;
      border-radius: 6px;
      background-color: var(--secondary-600);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .4s var(--easing);
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.left {
  display: flex;
  gap: 28px;
  flex-direction: column;
  justify-content: space-between;

  p{
    font-size: clamp(20rem, calc(20vw/7.68), 24rem);
  }

  .phone {
    a {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 20px;
      &::before {
        bottom: -5px;
      }
      span {
        font-size: clamp(20rem, calc(20vw/7.68), 24rem);
      }

      svg{
        width: clamp(19px, calc(27vw/7.68), 27px);
        height: auto;
      }
    }
  }
}

.logolink {
  &::before {
    display: none !important;
  }
}

.inform {
  margin-top: 64px;
  display: flex;
  gap: 20px 64px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  p a {
    font-weight: 600;
  }

  p,
  a {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: var(--primary-800);

    @media (max-width: 480px) {
      line-height: 140%;
    }

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(20vw/3.7), 20rem);
    }
  }

  a {
    &::before {
      bottom: -5px;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 48px;

  .link {
    color: var(--neutrals-800);
  }

  @media (max-width: 480px) {
    gap: 24px 48px;
    margin-bottom: 20px;
  }
}

.logo {
  max-width: 100%;
}

.social {
  svg {
    transition: fill .3s;
  }

  a {
    &::before {
      display: none;
    }

    &:hover {
      svg {
        fill: var(--secondary-600);
      }
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;

  .links {
    display: flex;
    gap: 36px 64px;
    flex-wrap: wrap;

    @media (max-width: 360px) {
      gap: 36px 24px;
    }

    .link_wrap {
      display: grid;
      height: fit-content;

      a,
      p {
        padding: clamp(9px, calc(13vw/7.68), 13px) 0;
        font-size: clamp(20rem, calc(20vw/7.68), 24rem);
        color: var(--neutrals-800);
        letter-spacing: -0.01em;

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(20vw/3.7), 20rem);
        }

        &:first-child {
          font-size: clamp(20rem, calc(24vw/7.68), 32rem);
          line-height: 200%;
          color: var(--primary-800);

          @media (max-width: 370px) {
            font-size: clamp(0rem, calc(20vw/3.7), 20rem);
          }
        }
      }
    }
  }
}