.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  @media (max-width: 1048px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 489px) {
    grid-template-columns: 1fr;
  }
}