.placehodler {
  position: absolute;
  left: 0;
  right: 0;
  height: 600px;
  width: 100%;
}

.box {
  width: 100%;
  min-height: 600px;
  position: relative;
}

.wrapper {
  margin-left: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'calendar time'
    'calendar info'
    'summary summary';
  grid-template-rows: 1fr auto auto;

  @media (max-width: 720px) {
    grid-template-areas:
      'calendar time'
      'summary summary'
      'info info';
  }

  @media (max-width: 640px) {
    width: 100%;
  }

  @media (max-width: 564px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'calendar'
      'time'
      'summary'
      'info';
  }

  h2 {
    font-size: clamp(24rem, calc(28vw/7.68), 40rem);
    margin-bottom: 36px;
    text-align: center;

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw/3.7), 32rem);
    }
  }
}

.content {
  width: 500px;
  grid-area: calendar;
  border-radius: 20px;
  background: var(--primary-50, #F1F6FB);
  padding: clamp(24px, calc(24vw/7.68), 36px) clamp(16px, calc(24vw/7.68), 36px);
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);

  @media (max-width: 940px) {
    width: 100%;
  }

  @media (max-width: 564px) {
    padding: clamp(24px, calc(24vw/7.68), 36px) 0;
  }

  .inputWrap {
    position: relative;
    margin: 26px 0;
    display: block;

    @media (max-width: 564px) {
      margin: 26px 16px;
    }

    input {
      border-radius: 50px;
      border: 2px solid var(--primary-800, #194574);
      background: var(--background-50, #FFFEFE);
      padding: 9px 28px 10px 28px;
      display: block;
      width: 100%;
      font-size: clamp(16px, calc(16vw/7.68), 20px);
    }

    .title {
      position: absolute;
      top: -4px;
      left: 26px;
      transform: translateY(-100%);
      font-size: clamp(16rem, calc(16vw/7.68), 20rem);
      color: #194574;
    }

    .anotation {
      position: absolute;
      bottom: -4px;
      left: 26px;
      transform: translateY(100%);
      color: #606060;
      font-size: clamp(16rem, calc(16vw/7.68), 20rem);
    }

    svg {
      position: absolute;
      right: 28px;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
    }
  }
}

.date {
  background-color: var(--neutral-900);
  border-radius: 2px;
  z-index: 2;

  header {
    margin: 36px 0 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

    p {
      font-size: clamp(24rem, calc(28vw/7.68), 28rem);
      color: #194574;
      text-transform: capitalize;
    }

    svg {
      width: 37px;
      height: 37px;
    }
  }

  ul {
    li {
      list-style: none;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;
      border: 2px solid transparent;
      transition: border-color .3s var(--easing);
      font-size: clamp(20rem, calc(24vw/7.68), 24rem);
      width: 46px;
      height: 46px;
      margin: 1px auto;
      aspect-ratio: 1;

      @media (max-width: 564px) {
        width: 40px;
        height: 40px;
      }

      transition: background-color .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);

      &.active {
        background-color: var(--secondary-500, #DEAFB8);
      }

      button {
        color: #181818;
        font-weight: 500;

        &:disabled {
          color: #CFCFCF;
          text-decoration: line-through;
          cursor: default;
        }
      }

      &.noTimes {
        button {
          color: #8A8A8A;
          text-decoration: line-through;
          cursor: default;
        }
      }

      &.today {
        button {
          font-weight: 700;
          color: #194574;
        }
      }
    }

  }
}

.time {
  grid-area: time;
  border-radius: 20px;
  background: var(--neutrals-50, #FFF);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  padding: clamp(24px, calc(24vw/7.68), 36px) clamp(16px, calc(24vw/7.68), 36px);
  position: relative;
  z-index: 0;

  @media (max-width: 564px) {
    padding-top: 48px;
    margin-top: -24px;
  }

  >div {
    max-height: 100%;
    overflow: auto;
  }

  h3 {
    margin-bottom: clamp(12px, calc(16vw/7.68), 24px);
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(12px, calc(12vw/7.68), 16px) clamp(12px, calc(16vw/7.68), 24px);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 564px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      list-style: none;
      transition: background-color .3s var(--easing);
      background-color: var(--primary-50, #F1F6FB);
      border-radius: 10px;

      &.active {
        background-color: #DEAFB8;
      }

      button {
        height: 100%;
        padding: 16px 0;
        border-radius: 10px;
        font-size: clamp(20rem, calc(24vw/7.68), 24rem);
        font-weight: 500;
        color: #181818;
        min-width: clamp(100px, calc(125vw/7.68), 125px);
        width: 100%;

        @media (max-width: 564px) {
          padding: 16px 0;
          text-align: center;
          min-width: unset;
        }
      }
    }
  }
}

.summary {
  grid-area: summary;
  border-radius: 20px;
  background: var(--primary-800, #194574);
  padding: clamp(20px, calc(24vw/7.68), 28px);
  margin-top: 36px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 640px) {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    color: #FFFEFE;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .left {
    p {
      margin-bottom: 0;

      &:nth-child(2) {
        margin-top: 8px;
        margin-bottom: 4px;
        font-size: clamp(20rem, calc(24vw/7.68), 28rem);
      }

      &:nth-child(3) {
        font-size: clamp(20rem, calc(24vw/7.68), 28rem);
      }
    }
  }
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 100;

  .close{
    position: absolute;
    right: clamp(20px, 4.6875vw, 48px) ;
    top: clamp(20px, 4.6875vw, 40px) ;
    margin: 0;
  }

  .overlay {
    position: fixed;
    inset: 0;
    z-index: 99;
    background-color: #00000032;
    backdrop-filter: blur(3px);
  }


  form {
    position: fixed;
    overflow: auto;
    max-height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    padding: clamp(20px, calc(36vw/7.68), 40px) clamp(20px, calc(36vw/7.68), 48px) clamp(16px, calc(32vw/7.68), 36px) clamp(20px, calc(36vw/7.68), 48px);
    background-color: #FFFEFE;
    border-radius: 20px;
    z-index: 101;
    border: 3px solid var(--secondary-500, #DEAFB8);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);

    @media (max-width: 1240px) {
      max-width: calc(100vw - 32px);
      max-height: calc(100vh - 32px);
    }

    .columns{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @media (max-width: 420px) {
        grid-template-columns: 1fr;
        gap: 0;
      }
    }

    .phone {
      max-width: 310px;
    }

    h3 {
      text-align: center;
      margin-bottom: clamp(20px, calc(36vw/7.68), 48px);
      margin-right: 28px;
    }

    label {
      margin-bottom: 24px;
      display: block;

      span {
        display: none;
      }
    }

    .flex {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 36px;

      @media (max-width: 864px) {
        grid-template-columns: 1fr;
      }
    }

    textarea {
      width: 100%;
      margin: 0;
    }

    button {
      margin: 24px auto 0 auto;
    }
  }

  .info {
    p {
      margin-top: 12px;
      display: flex;
      align-items: center;
      gap: clamp(4px, calc(8vw/7.68), 8px);

      svg {
        width: clamp(20px, calc(23vw/7.68), 26px) !important;
        height: fit-content;
      }
    }

    .specialist {
      display: flex;
      gap: clamp(8px, calc(20vw/7.68), 20px);
      margin-bottom: clamp(20px, calc(28vw/7.68), 28px);

      .image {
        width: clamp(50px, calc(100vw/7.68), 100px) !important;
        min-width: 50px !important;
        height: fit-content !important;
        aspect-ratio: 1 !important;
        border-radius: 50%;

        img {
          border-radius: 50%;
        }
      }

      h3 {
        margin-bottom: 2px;
        text-align: left;
      }
    }

    .wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      p {
        margin-top: 0;
      }

      button {
        margin: 0;

        span {
          font-weight: 500;
        }

        @media (max-width: 420px) {
          padding: 0;
        }
      }
    }
  }
}

.inform {
  grid-area: info;
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--primary-800, #194574);
  background: var(--neutrals-50, #FFF);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  padding: clamp(16px, calc(20vw/7.68), 20px) clamp(16px, calc(28vw/7.68), 36px);
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  @media (max-width: 720px) {
    box-shadow: none;
    margin-top: 12px;
  }

  p{
    text-align: center;
    color: #194574;
  }
}