.wrapper{

  h2{
    text-align: center;
    font-size: clamp(32rem, calc(36vw/7.68), 48rem);
    margin-bottom: clamp(20px, calc(28vw/7.68), 36px);

    @media(max-width: 370px) {
      font-size: clamp(0rem, calc(32vw/3.7), 32rem);
    }
  }
}

.video{
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}