.title {
  text-align: center;
  margin-bottom: 12px;
}

.text {
  text-align: center;
  padding-bottom: clamp(20px, calc(36vw/7.68), 48px);
}

.wrapper {
  padding: 30px;
  margin: -30px;
  overflow: hidden;

  
  img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}
