.wrapper {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    legend {
      margin-bottom: 12px;
      font-size: clamp(28rem, calc(32vw/7.68), 32rem);

      @media (max-width: 876px) {
        margin-bottom: 0;
      }

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(28vw/3.7), 28rem);
      }
    }
  }

  fieldset+fieldset {
    margin-top: clamp(36px, calc(64vw/7.68), 64px);
  }

  .checkbox {
    display: grid;
    grid-template-columns: 34px auto;
    gap: 8px;
  }

  .radio {
    margin-top: clamp(20px, calc(28vw/7.68), 36px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(16px, calc(16vw/7.68), 56px);
    align-items: center;

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }

    label {
      position: relative;
      margin-top: 0;
      border-radius: 50px;
      border: 2px solid #EBCFD4;
      background: #FFF;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
      padding: clamp(8px, calc(10vw/7.68), 14px) clamp(16px, calc(16vw/7.68), 28px) clamp(10px, calc(12vw/7.68), 16px) clamp(16px, calc(16vw/7.68), 28px);

      display: grid;
      align-items: center;
      grid-template-columns: 30px 1fr;
      gap: 8px;

      input {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
      }

      p {
        color: #8A8A8A;
        transition: all .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        white-space: nowrap;
      }

      span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #C8DAEF;
        position: relative;
        transition: all .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);

        &::after {
          content: '';
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #194574;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        }
      }

      input:checked~span {
        border: 2px solid #194574;
        color: var(--neutrals-800);

        &::after {
          opacity: 1;
        }
      }

      input:checked~p {
        color: var(--neutrals-800);
      }
    }
  }

  label {
    margin-top: clamp(28px, calc(32vw/7.68), 36px);

    input {
      width: 100%;
      border-color: #194574;
    }
  }

  .flex {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      margin-top: 28px;
      gap: 28px;

      label {
        margin-top: 0;

        &:first-child {
          max-width: 200px;
        }
      }
    }
  }

  .phone {
    max-width: 310px;
  }

  .submit {
    margin-top: 48px;
  }
}