.flex{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 64px;
  gap: 32px;

  h2{
    font-size: clamp(32rem, calc(36vw / 7.68), 48rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw / 3.7), 32rem);
    }
  }

  .text{
    max-width: 780px;

    p{
      margin-top: 24px;
    }
  }

  .link{
    min-width: max-content;
  }

  a{
    @media (max-width: 480px) {
      display: none;
    }
  }
}

.blog{
  display: none;
  @media (max-width: 480px) {
    display: block;
    margin: 48px auto 0px auto;
  }
}