.wrapper{
  h2{
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
    font-size: clamp(32rem, calc(36vw/7.68), 48rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw/3.7), 32rem);
    }
  }
}