.calendesk-frame {
  width: 100%;
  display: block;
  border: none;
  max-width: 1280px;
  margin: 0 auto;
}

@media only screen and (max-width:600px) {
  .calendesk-frame {
    height: 1440px;
  }
}

@media only screen and (min-width: 600px) {
  .calendesk-frame {
    height: 900px;
  }
}