.item {
  padding: 24px 40px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  text-align: left;

  p {
    font-size: clamp(16rem, calc(16vw/7.68), 20rem);
  }

  p+p {
    margin-top: 0 !important;
  }

  @media (max-width: 1366px) {
    padding: 0;
  }

  .image {
    margin-bottom: 20px;
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 100/80;

    img {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px 0px 0px 0px;
      object-position: top;
    }
  }

  h3 {
    margin-bottom: 2px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(5px, calc(8vw/7.68), 8px);
    margin-top: 16px;

    li {
      padding: 8px clamp(8px, calc(12vw/7.68), 12px);
      color: #3A69A0;
      border: 2px solid #3A69A0;
      border-radius: 50px;
      font-size: 14rem;
      line-height: 124%;

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(14vw/3.7), 14rem);
        padding:
          clamp(0px, calc(8vw/3.7), 8px) clamp(0px, calc(8vw/3.7), 8px) clamp(0px, calc(8vw/3.7), 8px) clamp(0px, calc(8vw/3.7), 8px);
      }
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 8px;

    &:last-child {
      margin-top: 12px;
    }
  }
}

.dates {
  margin-top: 16px;

  .title {
    color: #194574;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .button {
    font-weight: 500;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    position: relative;
    margin-bottom: 16px;

    button {
      border-radius: 10px;
      background-color: var(--primary-50, #F1F6FB);
      padding: 8px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: clamp(4px, calc(6vw/7.68), 8px);
      height: fit-content;
      transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);

      &.active {
        background-color: var(--secondary-500, #DEAFB8);
      }

      svg {
        width: 20px;
        height: 20px;
      }

      p {

        &:first-child {
          font-size: clamp(16rem, calc(18vw/7.68), 18rem);
        }

        &:last-child {
          font-size: clamp(18rem, calc(20vw/7.68), 22rem);
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
}