.wrapper {
  padding: clamp(48px, calc(64vw / 7.68), 80px) clamp(16px, 4.1666666667vw, 80px);
  position: relative;
  background-color: var(--primary-50, #f1f6fb);
  border-radius: 20px;
}

.header {
  max-width: 780px;
  margin: 0 auto clamp(32px, calc(48vw / 7.68), 64px);
  text-align: center;
  .heading {
    margin-bottom: clamp(16px, calc(24vw / 7.68), 24px);
  }
  .paragraph {
    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.grid {
  position: relative;
  interpolate-size: allow-keywords;
  transition: height 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  .gridItem {
    break-inside: avoid;
    margin-bottom: clamp(12px, calc(16vw / 7.68), 24px);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    background: linear-gradient(to bottom, rgba(241, 246, 251, 0), var(--primary-50, #f1f6fb));
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  &[data-truncated='true'] {
    height: 1000px;
    &::after {
      opacity: 1;
    }
  }
  .columnsContainer {
    columns: 3;
    gap: clamp(12px, calc(16vw / 7.68), 24px);
    @media (max-width: 1199px) {
      columns: 2;
    }
    @media (max-width: 689px) {
      columns: 1;
    }
  }
}

.showMoreButton {
  display: block;
  margin: clamp(24px, calc(32vw / 7.68), 48px) auto 0;
  padding: 12px 32px;
  border-radius: 50px;
  border: 2px solid var(--primary-800, #194574);
  background: var(--primary-800, #194574);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 300ms ease-out, color 300ms ease-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-800, #194574);
  }
}
