.wrapper {}

.product {
  margin-top: 20px;
  padding: clamp(20px, calc(24vw/7.68), 48px);
  background: #F1F6FB;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;

  gap: clamp(16px, calc(24vw/7.68), 36px);
  display: grid;
  grid-template-columns: 466fr 645fr;
  align-items: center;

  .link {
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: 20px;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.name {
  color: var(--primary-800);
  font-size: clamp(24rem, calc(28vw/7.68), 40rem);

  @media (max-width: 370px) {
    font-size: clamp(00rem, calc(20vw/3.7), 20rem);
  }
}

.rating {
  gap: 4px 8px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  flex-wrap: wrap;
}

.list {
  margin-top: 24px;
  display: grid;
  gap: 16px;

  li {
    display: grid;
    grid-template-columns: clamp(18px, calc(25vw/7.68), 25px) auto;
    align-items: center;
    gap: 8px;

    .icon {
      width: clamp(18px, calc(25vw/7.68), 25px) !important;
      height: auto !important;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: clamp(20px, calc(28vw/7.68), 36px);

  @media (max-width: 420px) {
    flex-direction: column;
  }
}

.image {
  width: 100% !important;
  height: fit-content !important;

  @media (max-width: 640px) {
    margin: 0 30px;
    width: calc(100% - 60px) !important;
  }

  @media (max-width: 360px) {
    margin: 0;
    width: 100% !important;
  }
}