.wrapper {
  h2 {
    text-align: center;
    margin-bottom: clamp(20px, calc(24vw/7.68), 36px);
  }

  p {
    text-align: center;
    max-width: clamp(566px, calc(566vw/7.68), 740px);
    margin: 0 auto;
  }
}

.icon {
  width: clamp(0px, calc(36vw /3.7), 36px);
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
}

.grid {
  margin-top: clamp(36px, calc(36vw/7.68), 64px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: clamp(20px, calc(20vw/7.68), 32px) clamp(24px, calc(24vw/7.68), 32px);

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }

  .item {
    display: grid;
    gap: clamp(12px, calc(12vw/7.68), 56px);
    align-items: center;
    min-height: 200px;
    background: #F1F6FB;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 0px;
    padding: 24px clamp(16px, calc(32vw/7.68), 32px) 26px clamp(20px, calc(20vw/7.68), 32px);
    transition: transform .4s var(--easing);
    transform-origin: center;
    user-select: none;
    -webkit-user-drag: none;

    &.active {
      grid-template-columns: auto 36px;
      &:active {
        transform: scale(.98);
      }

      &:hover {
        svg {
          transform: translateX(8px) scale(.9);
        }
      }
    }

    svg {
      transition: transform .4s var(--easing);
      width: 36px;
      height: 36px;
    }

    @media (max-width: 640px) {
      min-height: 130px;
    }
  }

  .itemContent {

    display: grid;
    grid-template-columns: clamp(0px, calc(36vw /3.7), 36px) 1fr;
    grid-gap: clamp(8px, calc(12vw/7.68), 16px);

    p {
      text-align: left;
      margin-top: 8px;
    }
  }
}