.wrapper{
  display: none;

  @media (max-width: 640px) {
    display: flex;
  }

  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 16px;
  background: #FFFEFE;
  justify-content: space-between;
  align-items: center;
}

.link{
  width: fit-content !important;
}