.wrapper {
  display: none;
  @media (max-width: 640px) {
    display: flex;
  }
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 16px;
  background: #FFFEFE;
  justify-content: space-between;
  align-items: center;
}

.link {
  width: fit-content !important;
}

.cart {
  position: relative;
  span {
    right: 0;
    bottom: 0;
    position: absolute;
    transform: translate(30%, 10%);
    background: #194574;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
  }
  svg {
    transform-origin: top center;
  }
  @keyframes cart {
    40% {
      transform: rotate(8deg);
    }

    70% {
      transform: rotate(-8deg);
    }
  }
  &:hover {
    svg {
      animation: cart 1s var(--easing);
    }
  }
}