.wrapper {

  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    legend {
      margin-bottom: 12px;

      @media (max-width: 876px) {
        margin-bottom: 0;
      }
    }
  }

  button {
    margin-top: 36px;
  }

  label {
    border: 2px solid var(--secondary-500);
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    margin-top: clamp(20px, calc(28vw/7.68), 28px);
    padding: clamp(8px, calc(10vw/7.68), 14px) clamp(16px, calc(16vw/7.68), 28px) clamp(10px, calc(12vw/7.68), 16px) clamp(16px, calc(16vw/7.68), 28px);
    border-radius: 50px;
    display: block;

    &.expanded {
      margin: 48px 0;
      padding: 20px 28px 22px 28px;
      border-radius: 20px;
    }

    .flex {
      display: grid;
      grid-template-columns: 30px 1fr auto;
      align-items: center;
      gap: 12px;
    }

    input {
      left: 0;
      top: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }

    span {
      font-size: clamp(16rem, calc(20vw/7.68), 24rem);
    }

    p {
      color: #535353;
      font-size: clamp(14rem, calc(14vw/7.68), 16rem);
    }

    .checkbox {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #C8DAEF;
      position: relative;
      transition: all .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);

      &::after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #194574;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
      }
    }

    input:checked~.checkbox {
      border: 2px solid #194574;
      color: #181818;

      &::after {
        opacity: 1;
      }
    }
  }
}