.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  .paymentInfo{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    width: fit-content;
    margin-left: auto;
    color: #606060;
    font-size: clamp(14px, calc(16vw/7.68), 16px);
    font-weight: 500;
    line-height: 140.5%;
  
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  .priecflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
  }

  .image{
    width: 100% !important;
    height: auto !important;
  }

  h1{
    margin-bottom: 36px;
  }

  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

    .flex{
      @media (max-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
      }
    }

    p{
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: 1024px) {
        margin-top: 0;
      }

      span{
        color: var(--primary-800);
      }

      svg{
        margin-right: 4px;
        width: clamp(25px, calc(30vw/7.68), 37px);
        height: auto;

        @media (max-width: 1024px) {
          margin-right: 0;
        }
      }
    }
  }
}