.grid {
  display: grid;
  gap: 36px;
}

.wrapper{
  position: relative;
}

.loadMore{
  text-align: center;
  margin: 48px auto 0 auto;

  button{
    margin: 20px auto 0 auto;
  }

  p{
    color: var(--neutrals-600, #535353);
    font-size: clamp(16px, calc(16vw/7.68), 18px);
    font-weight: 500;
    line-height: 124%;
    margin-bottom: 8px;
  }

  >span{
    display: block;
    margin: 0 auto;
    max-width: 405px;
    height: 4px;
    width: 100%;
    position: relative;
    border-radius: 20px;
    background: var(--secondary-100, #F5E7EA);

    >span{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      background: var(--secondary-500, #DEAFB8); 
      height: 4px; 
      transition: width .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }
}