.error {
  position: absolute;
  bottom: -4px;
  left: 26px;
  transform: translateY(100%);
  color: #B40909;
  width: max-content;
  font-size: clamp(12rem, calc(14vw/7.68), 16rem);

  @media (max-width: 370px) {
    font-size: clamp(0rem, calc(12vw/3.7), 12rem);
  }
}

.form {
  margin-top: 48px;
  display: grid;
  gap: 36px;
  grid-template-columns: 1fr 2fr auto;
  align-items: flex-end;

  grid-template-areas:
    'name email button'
    'check check .';

  @media (max-width: 1024px) {
    align-items: flex-start;
    justify-content: flex-end;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'name name'
      'email email'
      'check button';

    button {
      margin-left: auto;
    }
  }

  @media (max-width: 520px){
    grid-template-areas:
      'name'
      'email'
      'check'
      'button';
      grid-template-columns: 1fr;

      button{
        width: 100%;
      }
  }

  button {
    grid-area: button;
    border: none;
    height: fit-content;
  }

  label:nth-child(1) {
    grid-area: name;
  }

  label:nth-child(2) {
    grid-area: email;
  }

  label:nth-child(4) {
    grid-area: check;
  }

  label {
    display: grid;
    position: relative;

    span {
      margin-left: 26px;
      margin-bottom: 4px;
      color: var(--primary-800);
      font-size: clamp(16rem, calc(16vw/7.68), 20rem);

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(16vw/3.7), 16rem);
      }
    }

    input {
      background: #FFFEFE;
      border: 2px solid var(--primary-800);
      border-radius: 50px;
      line-height: 23px;
      padding: clamp(10px, calc(10vw/7.68), 20px) 28px;
      color: var(--primary-800);
      font-size: clamp(16rem, calc(16vw/7.68), 20rem);
      font-weight: 500;

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(16vw/3.7), 16rem);
      }
    }

    &.check {
      position: relative;
      display: grid;
      grid-template-columns: 34px 1fr;
      gap: 8px;

      .error {
        left: 42px;
      }

      input {
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
      }

      p {
        max-width: 660px;
        font-size: clamp(14rem, calc(16vw/7.68), 20rem);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(14vw/3.7), 14rem);
        }

        a {
          font-weight: 700;
          text-decoration: underline;
          color: var(--neutrals-800);
        }
      }

      input:checked~span::after {
        opacity: 1;
      }

      span {
        margin: 0;
        display: block;
        width: 34px;
        height: 34px;
        border: 2px solid var(--secondary-500);  
        border-radius: 5px;
        position: relative;

        &::after {
          content: url('/check-mark.png');
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 22px;
          height: 22px;
          opacity: 0;
          transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
      }
    }
  }
}