.wrapper{
  .text{
    margin-right: 120px;
    max-width: 765px;
    margin-bottom: -40px;
    
    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 18px;
    }
    h2{
      margin-bottom: 28px;
      font-size: clamp(32rem, calc(36vw/7.68), 48rem);
  
      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(32vw/3.7), 32rem);
      }
    }
  }
}