.wrapper {

  h2 {
    font-size: clamp(32rem, calc(36vw/7.68), 48rem);
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: clamp(36px, calc(36vw/7.68), 64px);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw/3.7), 32rem);
    }
  }

  .grid {
    display: grid;
    gap: clamp(20px, calc(20vw/7.68), 36px);

    .line {
      margin: 0 auto;
      width: 0px;
      height: clamp(30px, calc(30vw/7.68), 60px);
      border-left: 6px dotted var(--secondary-500);

      &:last-child {
        display: none;
      }
    }

    >div {
      border-radius: 20px;
      border: 1px solid var(--secondary-500, var(--secondary-500));
      background: #FFF;
      padding: clamp(22px, calc(26vw/7.68), 46px) clamp(20px, calc(28vw/7.68), 48px) clamp(24px, calc(28vw/7.68), 48px) clamp(20px, calc(28vw/7.68), 48px);
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
      display: grid;
      gap: clamp(28px, calc(36vw/7.68), 64px);
      grid-template-columns: 620fr 430fr;

      @media (max-width: 640px) {
        grid-template-columns: 1fr;
      }

      .image {
        width: 100% !important;
        height: 100% !important;
        img {
          border-radius: 20px;
        }
      }

      h3 {
        margin-bottom: clamp(16px, calc(24vw/7.68), 28px);
      }
    }
  }
}