html {
  overflow-x: hidden;
}

body {
  font-size: 16rem;
  font-weight: 500;
  background: #FFFEFE;
  overflow-x: hidden;
}

:root {
  --animation: .3s ease-out;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: unset;
  list-style: none;
}

button{
  cursor: pointer;
}

*:focus{
  outline: none;
}

*:focus-visible{
  outline: 2px solid #A0636F;
  outline-offset: 2px;
}

.slick-list {
  overflow: visible !important;
}

main {
  max-width: 1440px;
  padding: 0 80px;
  margin: clamp(125px, calc(125vw/7.68), 215px) auto 120px auto;

  display: grid !important;
  grid-template-columns: 100%;
  grid-gap: clamp(64px, calc(64vw/7.68), 180px);
}

@media (max-width: 1439px) {
  main {
    padding: 0 clamp(16px, calc(32vw/7.68), 80px);
  }
}

/* calc((36vw / 7.68) * 1rem) */
h1 {
  font-weight: 500;
  font-size: clamp(32rem, calc(36vw / 7.68), 48rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #194574;
}

h2 {
  font-weight: 500;
  font-size: clamp(32rem, calc(32vw / 7.68), 64rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #194574;
}

h3 {
  font-weight: 500;
  font-size: clamp(20rem, calc(24vw/7.68), 32rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #194574;
}

p {
  font-weight: 500;
  font-size: clamp(16rem, calc(20vw / 7.68), 24rem);
  line-height: 140.5%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #181818;
}

h1 em {
  font-style: normal;
}

.underline-first{
  position: relative;
  white-space: nowrap;
}

.underline-first::after{
    content: '';
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc3IiBoZWlnaHQ9IjE1IiB2aWV3Qm94PSIwIDAgMTc3IDE1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMi4yMDM3NiAxMi45MjIzQzI2LjkwMDUgNy40NzYxMiAxMTkuMjYyIDAuNzM1MTY5IDE3NS4xNDEgMi4xNzgzNiIgc3Ryb2tlPSIjREVBRkI4IiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -5px;
    height: 15px;
    right: -30px;
    left: -15px;
}

@media (max-width: 1144px) {
  .underline-first::after{
    bottom: -6px;
    right: -15px;
    left: -10px;
  }
}

.underline-second{
  position: relative;
  white-space: nowrap;
}
.underline-second::after{
  content: '';
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM1IiBoZWlnaHQ9IjczIiB2aWV3Qm94PSIwIDAgMzM1IDczIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMTUxLjE1NyAyLjI5MjE1QzEwNy45OTMgMy4zMTgwNiAxOC4xMDQ3IDEyLjcxNzkgMy44NjM2NiA0Mi4xMDk3Qy0xMC4zNzczIDcxLjUwMTYgNjUuMzA0MSA3MC43NDk4IDExNS4wODkgNzAuNjMxQzE3My45MjYgNzAuNDkwNiAyOTguNTUgNjUuMzE5MyAzMjYuMzU2IDQ1Ljc1NzJDMzYxLjExMyAyMS4zMDQ2IDI1MS40MzYgLTYuNzgwNjYgMTQyLjYxNyAxNi4zMTAzIiBzdHJva2U9IiNERUFGQjgiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;   
  top: -14px;
  bottom: -14px;
  right: -14px;
  left: -14px;
  z-index: -1;
}

.underline-third{
  position: relative;
  white-space: nowrap;
}
.underline-third::after{
  content: '';
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg2IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCAyODYgOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgNkMzMi4yMzEyIC0xLjMyMTAyIDk4LjM2MTggMy42NDY4OSAyODQgMy42NDY4OCIgc3Ryb2tlPSIjREVBRkI4IiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;   
  bottom: 0;
  height: 10px;
  right: -5px;
  left: -5px;
  z-index: -1;
}

@media (max-width: 480px) {
  .underline-third::after{
    bottom: -3px;
  }
}

p em {
  font-style: normal;
  position: relative;
  white-space: nowrap;
  color: #194574;
  font-weight: 700;
}

p em::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #F1F6FB;
  border-radius: 20rem;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.link {
  font-weight: 500;
  font-size: clamp(16rem, calc(20vw / 7.68), 20rem);
  line-height: 25rem;
  color: #181818;
  padding: clamp(10px, calc(10vw/7.68), 14px) clamp(28px, calc(28vw/7.68), 36px) clamp(12px, calc(10vw/7.68), 16px) clamp(28px, calc(28vw/7.68), 36px);
  background-color: #DEAFB8;
  border-radius: 50rem;
  display: block;
  width: fit-content;
  transition: background-color .2s ease-out;
}

@media (max-width: 420px) {
  .link{
    width: 100%;
    text-align: center;
  }
}

.link:hover{
  background-color: #C996A0;
}

.link:focus-visible{
  outline: 2px solid #A0636F;
  outline-offset: 8px;
}