html {
  overflow-x: hidden;
}

body {
  font-size: 16rem;
  font-weight: 500;
  background: #FFFEFE;
  overflow-x: hidden;
}

:root {
  --animation: .3s ease-out;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: unset;
  list-style: none;
}

.slick-list{
  overflow: visible !important; 
}

main {
  max-width: 1440px;
  padding: 0 80px;
  margin: clamp(125px, calc(125vw/7.68), 215px) auto 120px auto;

  display: grid !important;
  grid-template-columns: 100%;
  grid-gap: clamp(64px, calc(64vw/7.68), 180px);
}

@media (max-width: 1439px) {
  main {
    padding: 0 clamp(16px, calc(32vw/7.68), 80px);
  }
}

/* calc((36vw / 7.68) * 1rem) */
h1 {
  font-weight: 500;
  font-size: clamp(32rem, calc(36vw / 7.68), 48rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #194574;
}

h2 {
  font-weight: 500;
  font-size: clamp(32rem, calc(32vw / 7.68), 64rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #194574;
}

h3 {
  font-weight: 500;
  font-size: clamp(20rem, calc(24vw/7.68), 32rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #194574;
}

p {
  font-weight: 500;
  font-size: clamp(16rem, calc(20vw / 7.68), 24rem);
  line-height: 140.5%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #181818;
}

h1 em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: #DEAFB8;
}

p em {
  font-style: normal;
  position: relative;
  white-space: nowrap;
  color: #194574;
}

p em::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #F1F6FB;
  border-radius: 20rem;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.link {
  font-weight: 500;
  font-size: clamp(16rem, calc(20vw / 7.68), 20rem);
  line-height: 25rem;
  color: #181818;
  padding: 14rem 36rem 16rem 36rem;
  background: #DEAFB8;
  border-radius: 50rem;
  display: block;
  width: fit-content;
}