.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-top: 48px;

  &.arrowless{
    justify-content: center;

    .dots{
      .dot{
        height: 5px;
        width: 80px;
        display: block;
      }
    }
  }

  @media (max-width: 640px) {
    justify-content: space-between;

    &.arrowless{
      justify-content: center;
    }
  }

  button{
    border: none;
    background-color: transparent;
  }
}

.dots {
  display: flex;
  gap: 24px;
  align-items: center;
  @media (max-width: 640px) {
    display: none;
  }
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--secondary-100);
    transition: all .3s;
    transform-origin: 50% 50%;
    &:hover {
      background-color: var(--secondary-500);
    }
    &.active {
      background-color: var(--secondary-600);
      width: 16px;
      height: 16px;
    }
  }
}