.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-top: 48px;

  &.arrowless {
    justify-content: center;

    .dots {
      .dot {
        height: 5px;
        width: 80px;
        display: block;
      }
    }
  }

  @media (max-width: 640px) {
    justify-content: space-between;

    &.arrowless {
      justify-content: center;
    }
  }

  button {
    border: none;
    background-color: transparent;
  }
}

.dots {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(16px, calc(20vw/7.68), 24px);
  align-items: center;

  .dot {
    width: clamp(6px, calc(8vw/7.68), 12px);
    height: clamp(6px, calc(8vw/7.68), 12px);
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--secondary-100);
    transition: all .3s;
    transform-origin: 50% 50%;

    &:hover {
      background-color: var(--secondary-500);
    }

    &.active {
      background-color: var(--secondary-600);
      width: clamp(10px, calc(12vw/7.68), 16px);
      height: clamp(10px, calc(12vw/7.68), 16px);
    }
  }
}