.wrapper {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  padding: clamp(48px, calc(48vw/7.68), 64px) clamp(24px, calc(36vw/7.68), 64px);
  position: relative;
  margin-bottom: 20px;

  h2 {
    font-size: clamp(32rem, calc(36vw/7.68), 48rem);
    margin-right: clamp(240px, calc(270vw/7.68), 470px);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw/3.7), 32rem);
    }

    @media (max-width: 640px) {
      margin-right: 0;
    }
  }

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }
}

.text {
  margin-top: clamp(20px, calc(28vw/7.68), 28px);
  margin-right: clamp(240px, calc(270vw/7.68), 470px);
  margin-bottom: 36px;

  @media (max-width: 640px) {
    margin-right: 0;
  }

  >*+* {
    margin-top: clamp(12px, calc(16vw/7.68), 24px);
  }

  strong {
    color: #194574;
    font-size: clamp(24rem, calc(28vw/7.68), 32rem);
    font-weight: 500;

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }
}

.image {
  position: absolute;
  right: 40px;
  bottom: 0px;

  width: clamp(229px, calc(329vw/7.68), 470px) !important;    
  height: auto !important;

  @media (max-width: 1240px) {
    right: -30px;
    bottom: 30px;
  }

  @media (max-width: 1024px) {
    transform: rotateZ(-20deg);
    right: -50px;
  }

  @media (max-width: 840px) {
    bottom: unset;
    top: -60px;
    right: -10px;
  }

  @media (max-width: 640px) {
    position: relative;
    right: unset;
    bottom: unset;
    width: 400px  !important;
    max-width: 100% !important;
    transform: rotateZ(30deg);
    margin: -12% auto -20% auto;
  }

  @media (max-width: 480px) {
    margin: -12% auto -30% auto;
  }
}