.wrapper {
  width: 100%;
  box-sizing: content-box;
  overflow: visible !important;

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  align-items: flex-end;
  margin-bottom: 32px;
}

.control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(8px, calc(16vw/7.68), 24px);
}