.wrapper {
  h2 {
    font-size: clamp(24rem, calc(36vw/7.68), 40rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }

  .step {
    display: grid;
    grid-template-columns: 252fr 992fr;
    gap: clamp(12px, calc(24vw/7.68), 32px);
    padding-bottom: clamp(64px, calc(64vw/7.68), 128px);

    @media (max-width: 972px) {
      grid-template-columns: clamp(8px, calc(8vw/4.2), 16px) auto;
    }

    .chose {
      display: grid;
      gap: 24px;

      details {
        padding: clamp(24px, calc(24vw/7.68), 28px) clamp(12px, calc(36vw/7.68), 64px) clamp(28px, calc(28vw/7.68), 40px) clamp(12px, calc(24vw/7.68), 36px);
        border-radius: 16px;
        background: #FFF;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);

        &[open] {
          .cursor {
            display: flex;
          }

          .symbol {
            &::after {
              top: 50%;
              bottom: 50%;
            }
          }
        }
      }

      .symbol {
        width: 28px;
        height: 28px;
        margin-top: clamp(0px, calc(1vw/7.68), 5px);
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          bottom: 0;
          width: 3px;
          transform: translateX(-50%);
          border-radius: 4px;
          background-color: #194574;
          transform-origin: 50% 50%;
          transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          right: 0;
          height: 3px;
          transform: translateY(-50%);
          border-radius: 4px;
          background-color: #194574;
        }
      }

      .flex {
        margin-top: 0 !important;
      }

      .cursor {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #194574;

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(16vw/3.7), 16rem);
        }
      }

      summary {
        display: grid;
        grid-template-columns: 28px 1fr;
        gap: 16px;
        word-break: break-word;
      }

      .wrap {
        margin-left: 44px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: clamp(12px, calc(24vw/7.68), 36px);

        @media (max-width: 1024px) {
          margin-left: 0;
        }

        .illnes {
          border-radius: 50px;
          border: 2px solid #194574;
          background: #FFF;
          padding: 10px clamp(12px, calc(16vw/7.68), 22px) 12px clamp(12px, calc(16vw/7.68), 22px);
          color: #194574;
          font-weight: 500;
          font-size: clamp(14rem, calc(16vw/7.68), 20rem);

          &.active{
            background: #194574;
            color: #FFF;
          }

          @media (max-width: 370px) {
            padding: clamp(8px, calc(10vw/3.7), 10px) clamp(8px, calc(12vw/3.7), 12px) clamp(8px, calc(10vw/3.7), 10px) clamp(8px, calc(12vw/3.7), 12px);
            font-size: clamp(0rem, calc(14vw/3.7), 14rem);
          }
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: clamp(8px, calc(12vw/7.68), 36px);

      .inner {

        .link {
          display: flex;
          align-items: center;
          gap: 6px;
          color: #194574;
          font-size: clamp(16rem, calc(20vw/7.68), 20rem);

          @media (max-width: 370px) {
            font-size: clamp(0rem, calc(16vw/3.7), 16rem);
          }
        }

        h2 {
          margin-bottom: clamp(16px, calc(24vw/7.68), 24px);
        }

        >a {
          margin-top: 36px;
        }

        .flex {
          margin-top: 36px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;
          flex-wrap: wrap;
        }

        .grid {
          display: grid;
          gap: clamp(12px, calc(16vw/7.68), 24px);

          .icon {
            width: clamp(30px, calc(36vw/7.68), 36px) !important;
            height: auto !important;
          }

          .image {
            width: 100% !important;
            height: auto !important;
            min-width: 216px;

            @media (max-width: 640px) {
              aspect-ratio: 252/108 !important;
              min-width: unset;
            }

            img {
              border-radius: 20px;
            }
          }

          .itemBlue {
            padding: clamp(16px, calc(24vw/7.68), 24px) clamp(16px, calc(24vw/7.68), 28px) clamp(20px, calc(28vw/7.68), 28px) clamp(12px, calc(24vw/7.68), 28px);
            border-radius: 20px;
            background: #F1F6FB;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
            display: grid;
            gap: clamp(8px, calc(16vw/7.68), 16px);
            grid-template-columns: clamp(30px, calc(36vw/7.68), 36px) auto;
          }

          .itemPink {
            padding: clamp(16px, calc(24vw/7.68), 24px) clamp(16px, calc(24vw/7.68), 28px) clamp(20px, calc(28vw/7.68), 28px) clamp(12px, calc(24vw/7.68), 28px);
            border-radius: 20px;
            border: 4px solid #F1F6FB;
            background: #FFF;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
            display: grid;
            gap: clamp(8px, calc(16vw/7.68), 16px);
            grid-template-columns: clamp(30px, calc(36vw/7.68), 36px) auto;
          }

          .itemExtended {
            border-radius: 20px;
            background: #FFF;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
            padding: clamp(16px, calc(20vw/7.68), 24px) clamp(16px, calc(16vw/7.68), 28px) clamp(10px, calc(16vw/7.68), 28px) clamp(16px, calc(16vw/7.68), 28px);
            display: grid;
            gap: clamp(12px, calc(20vw/7.68), 20px);
            grid-template-columns: 328fr 491fr;
            align-items: center;

            @media (max-width: 640px) {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }

  .number {
    color: var(--secondary-500);
    font-size: clamp(24rem, calc(36vw/7.68), 48rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }

  .line {
    position: relative;

    .top {
      position: absolute;
      left: 0;
      top: clamp(16px, calc(28vw/7.68), 36px);
      right: 0;
      border-top: clamp(3px, calc(4vw/7.68), 6px) dotted var(--secondary-500);
    }

    .left {
      position: absolute;
      left: 0;
      top: clamp(16px, calc(28vw/7.68), 36px);
      bottom: calc(-1 * clamp(74px, calc(80vw/7.68), 138px));
      border-left: clamp(3px, calc(4vw/7.68), 6px) dotted var(--secondary-500);
    }

    .bottom {
      position: absolute;
      left: 0;
      bottom: calc(-1 * clamp(74px, calc(80vw/7.68), 144px));
      right: 0;
      border-top: clamp(3px, calc(4vw/7.68), 6px) dotted var(--secondary-500);
    }

    &.first {
      .top {
        top: clamp(12px, calc(16vw/7.68), 24px);
      }

      .left {
        top: clamp(12px, calc(16vw/7.68), 24px);
      }
    }

    &.last {
      .bottom {
        bottom: calc(-1 * clamp(80px, calc(90vw/7.68), 158px));
      }

      .left {
        bottom: calc(-1 * clamp(80px, calc(90vw/7.68), 158px));
      }
    }
  }
}