.wrapper {

  h1 {
    margin-bottom: 48px;
  }

  h2 {
    font-size: clamp(24rem, calc(28vw/7.68), 40rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }

  h3 {
    @media (max-width: 380px) {
      font-size: 18rem;
    }

    @media (max-width: 350px) {
      font-size: 16rem;
    }
  }

  .step {
    display: grid;
    grid-template-columns: 182fr 992fr;
    gap: clamp(12px, calc(24vw/7.68), 32px);
    padding-bottom: clamp(48px, calc(64vw/7.68), 96px);

    @media (max-width: 972px) {
      grid-template-columns: clamp(8px, calc(8vw/4.2), 16px) auto;
    }

    .chose {
      display: grid;
      gap: 24px;

      details {
        padding:
          0 0 clamp(16px, calc(16vw/7.68), 22px) 0;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);

        @media (max-width: 480px) {
          margin-left: -32px;
        }

        &[open] {
          .cursor {
            display: flex;
          }

          .symbol {
            &::after {
              top: 50%;
              bottom: 50%;
            }
          }

          summary {
            padding: clamp(16px, calc(16vw/7.68), 22px) clamp(12px, calc(36vw/7.68), 64px) clamp(12px, calc(16vw/7.68), 24px) clamp(12px, calc(20vw/7.68), 32px) !important;
          }
        }
      }

      summary {
        cursor: pointer;
        padding:
          clamp(16px, calc(16vw/7.68), 22px) clamp(12px, calc(36vw/7.68), 64px) 0 clamp(12px, calc(20vw/7.68), 32px);
        display: grid;
        grid-template-columns: 28px 1fr;
        gap: 16px;
        word-break: break-word;
        align-items: center;

        h3{
          min-height: 30px;
        }

        &:hover {
          .symbol {
            width: 23px;
            height: 23px;
            transform: translate(2px, 0);
          }
        }
      }

      .symbol {
        width: 28px;
        height: 28px;
        margin-top: clamp(0px, calc(1vw/7.68), 5px);
        position: relative;
        transition: all .12s cubic-bezier(0.755, 0.05, 0.855, 0.06);

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          bottom: 0;
          width: 3px;
          transform: translateX(-50%);
          border-radius: 4px;
          background-color: var(--primary-800);
          transform-origin: 50% 50%;
          transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          right: 0;
          height: 3px;
          transform: translateY(-50%);
          border-radius: 4px;
          background-color: var(--primary-800);
        }
      }

      .flex {
        margin-top: 0 !important;
      }

      .cursor {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--primary-800);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(16vw/3.7), 16rem);
        }
      }

      .wrap {
        margin-left: 44px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @media (max-width: 1024px) {
          margin-left: 0;
        }

        .illnes {
          border-radius: 50px;
          border: 2px solid var(--primary-800);
          background: #FFF;
          padding: clamp(8px, calc(8vw/7.68), 10px) clamp(8px, calc(12vw/7.68), 16px) clamp(8px, calc(8vw/7.68), 10px) clamp(8px, calc(12vw/7.68), 16px);
          color: var(--primary-800);
          font-weight: 500;
          font-size: clamp(14rem, calc(14vw/7.68), 18rem);

          &.active {
            background: var(--primary-800);
            color: #FFF;
          }

          @media (max-width: 370px) {
            padding: clamp(6px, calc(8vw/3.7), 8px) clamp(6px, calc(8vw/3.7), 8px) clamp(6px, calc(8vw/3.7), 8px) clamp(6px, calc(8vw/3.7), 8px);
            font-size: clamp(0rem, calc(14vw/3.7), 14rem);
          }
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: clamp(8px, calc(12vw/7.68), 36px);

      .inner {

        .link {
          display: flex;
          align-items: center;
          gap: 6px;
          color: var(--primary-800);
          font-size: clamp(16rem, calc(20vw/7.68), 20rem);

          @media (max-width: 370px) {
            font-size: clamp(0rem, calc(16vw/3.7), 16rem);
          }
        }

        h2 {
          margin-bottom: clamp(16px, calc(24vw/7.68), 24px);
        }

        >a {
          margin-top: 36px;
        }

        .flex {
          margin-top: 36px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;
          flex-wrap: wrap;
        }

        .grid {
          display: grid;
          gap: clamp(12px, calc(16vw/7.68), 24px);

          .icon {
            width: clamp(30px, calc(36vw/7.68), 36px) !important;
            height: auto !important;
          }

          .image {
            width: 100% !important;
            height: auto !important;
            min-width: 216px;

            @media (max-width: 640px) {
              aspect-ratio: 252/108 !important;
              min-width: unset;
            }

            img {
              border-radius: 20px;
            }
          }

          .itemBlue {
            padding: clamp(16px, calc(24vw/7.68), 24px) clamp(16px, calc(24vw/7.68), 28px) clamp(20px, calc(28vw/7.68), 28px) clamp(12px, calc(24vw/7.68), 28px);
            border-radius: 20px;
            background: #F1F6FB;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
            display: grid;
            gap: clamp(8px, calc(16vw/7.68), 16px);
            grid-template-columns: clamp(30px, calc(36vw/7.68), 36px) auto;
          }

          .itemPink {
            padding: clamp(16px, calc(24vw/7.68), 24px) clamp(16px, calc(24vw/7.68), 28px) clamp(20px, calc(28vw/7.68), 28px) clamp(12px, calc(24vw/7.68), 28px);
            border-radius: 20px;
            border: 4px solid #F1F6FB;
            background: #FFF;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
            display: grid;
            gap: clamp(8px, calc(16vw/7.68), 16px);
            grid-template-columns: clamp(30px, calc(36vw/7.68), 36px) auto;
          }

          .itemExtended {
            border-radius: 20px;
            background: #FFF;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
            padding: clamp(16px, calc(20vw/7.68), 24px) clamp(16px, calc(16vw/7.68), 28px) clamp(10px, calc(16vw/7.68), 28px) clamp(16px, calc(16vw/7.68), 28px);
            display: grid;
            gap: clamp(12px, calc(20vw/7.68), 20px);
            grid-template-columns: 328fr 491fr;
            align-items: center;

            @media (max-width: 640px) {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }

  .number {
    color: var(--primary-800);
    font-size: clamp(24rem, calc(28vw/7.68), 40rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }

  .line {
    position: relative;

    .top {
      position: absolute;
      left: 0;
      top: clamp(16px, calc(28vw/7.68), 28px);
      right: 0;
      border-top: clamp(3px, calc(4vw/7.68), 6px) dotted var(--secondary-500);
    }

    .left {
      position: absolute;
      left: 0;
      top: clamp(16px, calc(28vw/7.68), 28px);
      bottom: calc(-1 * clamp(64px, calc(80vw/7.68), 114px));
      border-left: clamp(3px, calc(4vw/7.68), 6px) dotted var(--secondary-500);
    }

    .bottom {
      position: absolute;
      left: 0;
      bottom: calc(-1 * clamp(64px, calc(80vw/7.68), 114px));
      right: 0;
      border-top: clamp(3px, calc(4vw/7.68), 6px) dotted var(--secondary-500);
    }

    &.first {
      .top {
        top: clamp(12px, calc(16vw/7.68), 24px);
      }

      .left {
        top: clamp(12px, calc(16vw/7.68), 24px);
      }
    }

    &.last {
      .bottom {
        bottom: calc(-1 * clamp(70px, calc(84vw/7.68), 126px));
      }

      .left {
        bottom: calc(-1 * clamp(70px, calc(84vw/7.68), 126px));
      }
    }
  }
}