.wrapper {
  h2 {
    max-width: 920px;
    text-align: center;
    margin: 0 auto;
    font-size: clamp(32rem, calc(36vw / 7.68), 48rem);

    @media (max-width: 420px) {
      text-align: left;
    }

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw / 3.7), 32rem);
    }
  }

  .text {
    margin: clamp(20px, calc(28vw/7.68), 36px) auto clamp(24px, calc(36vw/7.68), 48px) auto;
    max-width: 920px;
    text-align: center;

    @media (max-width: 420px) {
      text-align: left;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(8px, calc(24vw/7.68), 32px);

    .item {
      height: 100%;
      min-height: clamp(150px, calc(150vw/7.68), 236px);
      border-radius: 20px;
      border: 2px solid #76A2D6;
      background: #FFF;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
      padding: clamp(16px, calc(24vw/7.68), 24px) clamp(16px, calc(28vw/7.68), 28px) clamp(20px, calc(28vw/7.68), 28px) clamp(16px, calc(28vw/7.68), 28px);
      
      @media (max-width: 370px) {
        padding: 16px clamp(0px, calc(16vw/3.7), 16px) 20px clamp(0px, calc(16vw/3.7), 16px);
      }

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;

      p {
        text-align: center;
        max-width: 846px;
        margin: 0 auto;
      }

      .icon {
        width: clamp(30px, calc(45vw/7.68), 60px) !important;
        height: clamp(30px, calc(45vw/7.68), 60px) !important;
      }

      &:last-child:nth-child(odd) {
        grid-column: 1 / 3;
      }
    }
  }
}