.wrapper {
  padding: clamp(12px, calc(24vw / 7.68), 32px) 0;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.flex {
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
  gap: clamp(32px, calc(32vw / 7.68), 56px);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.content {
  max-width: 592px;
  .title {
    margin-bottom: clamp(16px, calc(24vw / 7.68), 24px);
  }
  .text {
    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .link {
    margin-top: 24px;
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 50px;
    border: 2px solid var(--primary-800, #194574);
    background: var(--primary-800, #194574);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-out;

    &:hover {
      background: transparent;
      color: var(--primary-800, #194574);
    }
  }
}

.imageWrap {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  .image {
    width: 100% !important;
    height: auto !important;
  }
}
