.grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 32px;

  @media (max-width: 1120px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.cta {
  max-width: 900px;
  margin: clamp(24px, calc(48vw/7.68), 128px) auto 0 auto;

  .blueListTitle {
    text-align: center;
    color: #194574;
    font-size: clamp(24rem, calc(28vw/7.68), 48rem);

    @media (max-width: 420px) {
      text-align: left;
    }

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }

  .blueList {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }

    .item {
      background: #F1F6FB;
    }
  }

  .botText {
    margin-top: 32px;
    text-align: center;

    @media (max-width: 640px) {
      margin-top: 24px;
    }

    @media (max-width: 420px) {
      text-align: left;
    }
  }
}

.rightSide {
  @media (max-width: 1120px) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (max-width: 720px) {
    width: 100%;
    max-width: 500px;
  }
}

.counters {
  display: grid;
  grid-template-columns: 156fr 262fr;
  gap: 32px;
  max-width: 600px;

  @media (max-width: 720px) {
    grid-template-columns: 1fr;
    width: fit-content;
  }

  @media (max-width: 380px) {
    max-width: 275px;
  }

  padding: clamp(20px, calc(20vw/7.68), 24px) 28px;
  background: #FFFFFF;
  box-shadow: 0px 3px 7px rgba(179, 179, 179, 0.4);
  border-radius: 20px;
  margin-right: 22px;
  position: relative;
  z-index: 2;

  p {
    font-size: 20rem;

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(20vw/3.7), 20rem);
    }
  }
}

.image {
  margin-left: auto;
  margin-top: -29px;
  max-width: calc(100% - 48px);
  max-height: fit-content;
  min-height: clamp(360px, calc(460vw/3.85), 630px);
  width: 100% !important;
  height: auto !important;

  @media (max-width: 1120px) {
    width: calc(100% - 68px);
  }

  @media (max-width: 680px) {
    width: calc(100% - 46px);
  }

  @media (max-width: 380px) {
    width: calc(100% - 33px);
  }

  img {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px 0px 50px 50px;
    object-position: 50% 20%;

    @media (max-width: 1120px) {
      border-radius: 20px 0px 20px 20px;
    }
  }
}

.title{
  @media (max-width: 1120px) {
    text-align: center;
  }

  @media (max-width: 420px) {
    text-align: left;
  }
}

.topText {
  margin-top: clamp(20px, calc(24vw/7.68), 36px);

  @media (max-width: 1120px) {
    text-align: center;
    max-width: clamp(520px, calc(520vw/7.68), 680px);
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 420px) {
    text-align: left;
  }
}

.counterItem {
  display: flex;
  gap: 12px;
  align-items: center;

  p {
    color: #194574;
    font-size: clamp(16rem, calc(20vw/7.68), 20rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(16vw/3.7), 16rem);
    }
  }
  > span {
    flex-shrink: 0;
    display: block;
  }
  span {
    font-weight: 500;
    font-size: clamp(36rem, calc(36vw/7.68), 48rem);
    line-height: 124%;
    font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
    color: #194574;

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(36vw/3.7), 36rem);
    }
  }
}

.pinkListTitle {
  margin-top: 32px;

  @media (max-width: 1120px) {
    margin-top: clamp(24px, calc(48vw/7.68), 48px);
    text-align: center;
  }

  @media (max-width: 420px) {
    text-align: left;
  }
}

.pinkList {
  margin-top: 24px;
  display: grid;
  grid-gap: 20px;

  @media (max-width: 1120px) {
    max-width: 900px;
    margin: 24px auto 0 auto;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.blueItem {
  padding: 16px 19px;
  display: grid;
  align-items: center;
  grid-template-columns: 28px 1fr;
  grid-gap: 12px;
  background: #F1F6FB;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 0px;

  p {
    font-size: 20rem;

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(20vw/3.7), 20rem);
    }
  }
}

.pinkItem {
  padding: 16px 19px;
  display: grid;
  align-items: center;
  grid-template-columns: 28px 1fr;
  grid-gap: 12px;
  border-radius: 20px 20px 20px 0px;
  border: 2px solid var(--secondary-500);
  background: #FFF;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);

  p {
    font-size: 20rem;

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(20vw/3.7), 20rem);
    }
  }
}