.wrapper {

  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 48px;

    @media (max-width: 876px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  height: fit-content;

  * {
    height: fit-content;
  }

  .imageFirst {
    height: 100% !important;
    width: 100% !important;

    img {
      border-radius: clamp(112px, calc(140vw/7.68), 200px) 0 clamp(112px, calc(140vw/7.68), 200px) 0px;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
    }
  }
}

.text{
  margin: clamp(48px, calc(72vw/7.68), 96px) auto 0 auto;
  max-width: 840px;
  text-align: center;

  @media (max-width: 420px) {
    text-align: left;
  }
}