.content-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 32px;

  @media (max-width: 540px) {
    flex-direction: column;
  }
}

.content-wrap {
  max-width: 731px;

}

.content {

  .wp-block-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 32px;
  }

  .wp-block-social-links {
    display: flex;
    justify-content: flex-end;
    gap: 36px;
  }

  .wp-social-link {
    padding-left: 0;
    margin-top: 0;
    &::after{
      display: none;
    }
    span {
      display: none;
    }

    svg {
      width: 42px;
      height: auto;

      path {
        fill: var(--secondary-500);
      }
    }
  }

  img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }

  >*+* {
    margin-top: 20px;
  }

  h2 {
    margin-bottom: 36px;
    font-size: clamp(32rem, calc(36vw / 7.68), 48rem);
  }

  figure {
    img {
      width: 100%;
      height: fit-content;
    }
  }

  blockquote {
    padding: 28px 90px 28px 28px;
    background: #F1F6FB;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;

    &::after {
      content: url('/quote.png');
      position: absolute;
      right: 36px;
      top: 28px;
    }

    p {
      font-size: 32rem;
      color: #194574;
      font-weight: 500;
    }
  }


  li {
    font-size: clamp(16rem, calc(20vw/7.68), 24rem);
    min-height: 32px;
  }

  li+li {
    margin-top: 16px;
  }

  ul {
    li {
      padding-left: 41px;
      position: relative;

      &::after {
        content: url('./../../../assets/list-circle.png');
        position: absolute;
        left: 0;
        top: -4px;
      }
    }
  }

  ol {
    li {
      padding-left: 41px;
      position: relative;

      &::after {
        content: url('./../../../assets/list-check.png');
        position: absolute;
        left: 0;
        top: -4px;
      }
    }
  }
}