.wrapper {

  h2 {
    text-align: center;
    max-width: 920px;
    margin: 0 auto clamp(20px, calc(28vw/7.68), 36px) auto;
    font-size: clamp(32rem, calc(36vw / 7.68), 48rem);

    @media (max-width: 640px) {
      text-align: left;
    }

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw / 3.7), 32rem);
    }
  }

  .text {
    text-align: center;
    max-width: 920px;
    margin: 0 auto clamp(24px, calc(36vw/7.68), 64px) auto;

    @media (max-width: 640px) {
      text-align: left;
    }
  }
}

.grid {
  display: grid;
  gap: 0 clamp(12px, calc(24vw/7.68), 40px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 2fr auto;

  grid-template-areas:
    'leftTitle rightTitle'
    'leftFirst rightFirst'
    'leftSecond rightFirst'
    'leftThird rightSecond'
    'leftRounds rightRounds'
  ;

  @media (max-width: 1024px) {
    grid-template-rows: auto 1fr 1fr auto auto;
  }

  @media (max-width: 640px) {
    max-width: 480px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 2fr auto 2fr 2fr auto;
    grid-template-areas:
      'leftTitle'
      'leftFirst'
      'leftSecond'
      'leftThird'
      'rightTitle'
      'rightFirst'
      'rightSecond'
      'leftRounds'
      'rightRounds'
    ;
  }

  .leftTitle {
    grid-area: leftTitle;
    font-size: clamp(24rem, calc(28vw/7.68), 36rem);
    margin-bottom: clamp(12px, calc(24vw/7.68), 24px);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }
  }

  .leftFirst,
  .leftSecond,
  .leftThird,
  .rightFirst,
  .rightSecond {
    padding: 16px 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      margin-bottom: 12px;
      font-size: clamp(14rem, calc(16vw/7.68), 20rem);
      font-weight: 500;
      color: var(--neutrals-800);

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(14vw/3.7), 14rem);
      }
    }

    p {
      font-size: clamp(14rem, calc(16vw/7.68), 20rem);
      margin-top: 0;

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(14vw/3.7), 14rem);
      }

      &.bold {
        color: var(--primary-800);
        font-size: clamp(16rem, calc(20vw/7.68), 24rem);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(16vw/3.7), 16rem);
        }
      }

      strong {
        font-size: clamp(16rem, calc(20vw/7.68), 24rem);
        color: var(--neutrals-800);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(16vw/3.7), 16rem);
        }
      }

      small {
        font-size: clamp(14rem, calc(16vw/7.68), 16rem);
        font-weight: 500;

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(14vw/3.7), 14rem);
        }
      }

      s {
        font-size: clamp(14rem, calc(16vw/7.68), 16rem);
        text-decoration: line-through;

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(14vw/3.7), 14rem);
        }
      }
    }
  }

  .leftRounds,
  .rightRounds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 500px;
    margin-top: 28px;

    >div {
      aspect-ratio: 1/1;
      border-radius: 50%;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
      width: calc(100% + clamp(6px, calc(6vw/7.68), 28px));
      max-width: 181px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 6px;

      p {
        font-size: clamp(14rem, calc(14vw/7.68), 16rem);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(14vw/3.7), 14rem);
        }
      }

      strong {
        font-size: clamp(16rem, calc(16vw/7.68), 24rem);
        margin-top: 18px;

        @media (max-width: 1240px) {
          margin-top: 0;
        }

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(16vw/3.7), 16rem);
        }
      }

      small {
        font-size: clamp(14rem, calc(16vw/7.68), 16rem);
        height: clamp(12px, calc(12vw/7.68), 20px);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(14vw/3.7), 14rem);
        }
      }
    }
  }

  .leftFirst {
    grid-area: leftFirst;
    background: #F1F6FB;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  }

  .leftSecond {
    grid-area: leftSecond;
    background: #D6E3F3;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  }

  .leftThird {
    grid-area: leftThird;
    background: #91B5DE;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  }

  .leftRounds {
    grid-area: leftRounds;

    >div {
      &:nth-child(1) {
        background: #F1F6FB;
      }

      &:nth-child(2) {
        background: #D6E3F3;
        margin-left: calc(-1 * clamp(3px, calc(3vw/7.68), 14px));
      }

      &:nth-child(3) {
        background: #91B5DE;
        margin-left: calc(-2 * clamp(3px, calc(3vw/7.68), 14px));
      }
    }
  }

  .rightTitle {
    grid-area: rightTitle;
    display: grid;
    grid-template-columns: 1fr auto;
    white-space: nowrap;
    width: fit-content;
    gap: clamp(8px, calc(12vw/7.68), 20px);
    align-items: center;
    font-size: clamp(24rem, calc(28vw/7.68), 36rem);
    margin-bottom: clamp(12px, calc(24vw/7.68), 24px);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(24vw/3.7), 24rem);
    }

    @media (max-width: 640px) {
      margin-top: 28px;
    }

    svg {
      width: 100%;
    }
  }

  .rightFirst {
    grid-area: rightFirst;
    background: #F5E7EA;
  }

  .rightSecond {
    grid-area: rightSecond;
    background: #E5BFC6;

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 0px 12px;
    }
  }

  .rightRounds {
    grid-area: rightRounds;
    margin-right: calc(-1 * clamp(3px, calc(3vw/7.68), 14px));
    margin-left: auto;
    width: 100%;

    >div {
      &:nth-child(1) {
        background: #F5E7EA;
      }

      &:nth-child(2) {
        background: #EBCFD4;
        margin-left: calc(-1 * clamp(3px, calc(3vw/7.68), 14px));
      }

      &:nth-child(3) {
        background: #E5BFC6;
        margin-left: calc(-2 * clamp(3px, calc(3vw/7.68), 14px));
      }
    }
  }
}

.cta {
  margin-top: clamp(36px, calc(48vw/7.68), 128px);

  .text{
    margin: 0 auto;
    max-width: 920px;
    text-align: center;

    h2 {
      font-size: clamp(32rem, calc(36vw / 7.68), 48rem);

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(32vw / 3.7), 32rem);
      }
    }
  }

  >a {
    margin: 36px auto 0 auto;
  }
}