.wrapper {

  h1{
    text-align: center;
    margin-bottom: 64px;
  }


  .cartControl {
    display: grid;
    grid-template-columns: 516fr 185fr 185fr auto 88fr;
    gap: 32px;  
    border-radius: 20px;
    background: #F1F6FB;
    padding: 14px 24px 16px 24px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
    
    span{
      font-size: 20rem;
    }
  }
}