.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 36px;

  .content {
    max-width: 655px;
    width: 100%;
  }

  aside {
    max-width: 405px;
    width: 100%;
    position: sticky;
    top: 120px;
  }
}