.wrapper {

  h1{
    text-align: center;
    margin-bottom: clamp(20px, calc(48vw/7.68), 64px);
  }

  .grid{
    display: flex;
    justify-content: space-between;
    gap: 36px;

    @media (max-width: 968px) {
      flex-direction: column-reverse;
    }
  
    .content {
      max-width: 655px;
      width: 100%;
  
      @media (max-width: 968px) {
        width: 100%;
        max-width: unset;
      }
    }
  
    aside {
      max-width: 405px;
      width: 100%;
      position: sticky;
      top: 120px;
  
      @media (max-width: 968px) {
        width: 100%;
        max-width: unset;
        position: static;
      }
    }
  }
}