.wrapper {
  border-radius: 20px;
  background: #fff;
  padding: clamp(16px, calc(24vw / 7.68), 32px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.avatarWrapper {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  .avatar {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}

.info {
  .name {
    font-size: clamp(18rem, calc(20vw / 7.68), 22rem);
    font-weight: 600;
    color: var(--primary-800);
    margin-bottom: 5px;
  }
  .rating {
    display: flex;
    align-items: center;
  }
}

.content {
  margin-bottom: 24px;
  flex-grow: 1;
  p {
    font-size: clamp(14rem, calc(16vw / 7.68), 18rem);
    line-height: 1.5;
    color: #333;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.specialist {
  margin-bottom: 16px;
  .specialistLabel {
    font-size: 12px;
    color: #606060;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .specialistInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 13px;
    background-color: var(--primary-50, #f1f6fb);
    border-radius: 12px;
    border-left: 3px solid rgba(118, 162, 214, 0.21);
    transition: background-color 300ms ease;
    &:hover {
      background-color: var(--primary-100, #dce8f5);
    }
    .specialistAvatar {
      width: 36px !important;
      height: 36px !important;
      object-fit: cover;
      border-radius: 8px;
      overflow: hidden;
    }
    span {
      font-size: clamp(14rem, calc(15vw / 7.68), 16rem);
      font-weight: 600;
      color: var(--primary-800, #194574);
    }
  }
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: clamp(12rem, calc(14vw / 7.68), 14rem);
  color: #606060;

  .date,
  .sourceWrapper {
    display: flex;
    align-items: center;
    gap: 6px;

    svg {
      flex-shrink: 0;
    }
  }
}
