.wrapper {
  background: #F1F6FB;
  padding: 48px 0;
  margin: 0 -80px;
  border-radius: 20px;

  @media (max-width: 1439px) {
    margin: 0 calc(-1 * clamp(16px, calc(32vw/7.68), 80px));
    border-radius: 0px;
  }

  h2 {
    text-align: center;
    font-size: clamp(32rem, calc(36vw/7.68), 48rem);
    margin: 48px clamp(16px, calc(16vw/3.7), 36px) 36px clamp(16px, calc(16vw/3.7), 36px);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(32vw/3.7), 32rem);
    }

    
  }
}