.wrapper {
  padding: clamp(36px, calc(36vw/7.68), 64px) clamp(24px, calc(48vw/7.68), 75px);
  background: #F1F6FB;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  &::after{
    content: url('/for-pacient.png');
    position: absolute;
    right: 0;
    top: 0;
  }

  .text {
    margin-top: 20px;
    max-width: 660px;

    strong {
      color: var(--primary-800);
    }
  }
}