.wrapper {
  padding: clamp(36px, calc(36vw/7.68), 64px) clamp(24px, calc(48vw/7.68), 75px);
  background: #F1F6FB;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  &::after{
    content: 'Dla specjalisty';
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--primary-800);
    color: var(--background-50);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 300px;
    transform: translate(32%, 100%) rotate(45deg);
    font-size: clamp(12px, calc(16vw/7.68), 16px);
  }

  &.specialst::after{
    content: 'Dla specjalisty';
  }

  &.client::after{
    content: 'Dla pacjenta';
    color: var(--neutrals-800, #181818);
    background-color: var(--secondary-500);
  }

  .text {
    margin-top: 20px;
    max-width: 660px;

    strong {
      color: var(--primary-800);
    }
  }
  position: relative;
  .status {
    position: absolute;
    inset: 0;
    background-color: var(--primary-50);
    z-index: 4;
    padding: clamp(36px, calc(36vw/7.68), 64px) clamp(24px, calc(48vw/7.68), 75px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: clamp(32px, calc(36vw/7.68), 42px);
      margin: 24px 0 16px;
    }
    button {
      margin-top: 24px;
    }
  }
}