.wrapper {
  >div {
    display: grid !important;
    grid-template-columns: 100%;
    grid-gap: clamp(64px, calc(64vw/7.68), 180px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 64px;
    flex-wrap: wrap;

    h1 {
      margin-bottom: 0;
    }
  }

  h1 {
    margin-bottom: 64px;
  }
}