.wrapper {
  h2 {
    text-align: center;
    max-width: 765px;
    margin: 0 auto 64px auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: 514fr 732fr;
  grid-gap: 32px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.image {
  width: 100% !important;
  height: auto !important;

  @media (max-width: 1024px) {
    aspect-ratio: unset !important;
    height: 330px !important;
  }

  img {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
}

.step_number {
  font-weight: 500;
  font-size: clamp(32rem, calc(32vw/7.68), 48rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: var(--secondary-500);
  pointer-events: none;

  @media (max-width: 370px) {
    font-size: clamp(0rem, calc(32vw/3.7), 32rem);
  }
}

.step_title {
  font-weight: 500;
  font-size: clamp(28rem, calc(32vw/7.68), 48rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: #194574;

  @media (max-width: 370px) {
    font-size: clamp(0rem, calc(28vw/3.7), 28rem);
  }
}

.sub_grid {
  display: grid;
  height: fit-content;
  grid-gap: clamp(12px, calc(24vw/7.68), 36px);

  .item {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    summary {
      padding: 28px clamp(16px, calc(28vw/7.68), 56px) clamp(16px, calc(16vw/7.68), 28px) clamp(16px, calc(28vw/7.68), 56px);
      border-radius: 20px;
    }
  }
}

.step_flex {
  display: grid;
  grid-template-columns: clamp(41px, calc(41vw/7.68), 61px) 1fr;
  grid-gap: clamp(12px, calc(12vw/7.68), 36px);
}

.step_content {
  display: grid;
  grid-template-columns: clamp(41px, calc(41vw/7.68), 61px) 1fr;
  grid-gap: clamp(12px, calc(12vw/7.68), 36px);
  padding-left: clamp(16px, calc(28vw/7.68), 56px);
  padding-right: clamp(16px, calc(28vw/7.68), 56px);
  margin-bottom: 24px;
  overflow: hidden;

  @media (max-width: 370px) {
    grid-template-columns: 0px 1fr;
  }

  >a {
    margin-top: 36px;
  }

  .persons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    .person {
      cursor: pointer;
      display: grid;
      align-items: center;
      gap: 16px;
      max-width: 240px;
      width: 100%;
      background-color: transparent;
      border: none;

      .avatar {
        width: 100% !important;
        height: auto !important;

        img {
          border-radius: 20px;
        }
      }

      .name {
        color: #194574;
      }

      .profession {
        margin-top: 0;
        font-size: clamp(14rem, calc(16vw/7.68), 20rem);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(14vw/3.7), 14rem);
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 24px;
 
    button {
      padding: 10px clamp(12px, calc(16vw/7.68), 22px) 10px clamp(12px, calc(16vw/7.68), 22px);
      font-weight: 500;
      font-size: clamp(14rem, calc(16vw/7.68), 20rem);
      line-height: 124%;
      color: #194574;
      border: 2px solid #194574;
      border-radius: 50px;
      background-color: transparent;

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(14vw/3.7), 14rem);
      }

      &.active {
        background-color: #194574;
        color: #fff;
      }
    }
  }

  a {
    margin-top: 36px;
  }
}