.wrapper {
  h2 {
    text-align: center;
    max-width: 765px;
    margin: 0 auto 64px auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: 514fr 732fr;
  grid-gap: 32px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.image {
  width: 100% !important;
  height: auto !important;

  @media (max-width: 1024px) {
    aspect-ratio: unset !important;
    height: 330px !important;
  }

  img {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
}

.sub_grid {
  display: grid;
  height: 100%;
  grid-gap: clamp(12px, calc(24vw/7.68), 36px);

  .item {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--neutrals-50);
    border-radius: 20px;
    summary {
      padding: 28px clamp(16px, calc(28vw/7.68), 56px) clamp(16px, calc(16vw/7.68), 28px) clamp(16px, calc(28vw/7.68), 56px);
      border-radius: 20px;
    }
    .notFound {
      h3 {
        margin: clamp(24px, calc(32vw/7.68), 48px) 0 -16px;
      }
    }
  }
}

.step_flex {
  display: grid;
  grid-template-columns: clamp(41px, calc(41vw/7.68), 61px) 1fr;
  grid-gap: clamp(12px, calc(12vw/7.68), 36px);
  font-weight: 500;
  font-size: clamp(28rem, calc(32vw/7.68), 48rem);
  line-height: 124%;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
  color: var(--primary-800);
  h3 {
    font-size: inherit;
  }
  .step_number {
    opacity: .6;
  }
  @media (max-width: 370px) {
    font-size: clamp(0rem, calc(28vw/3.7), 28rem);
  }
}

.step_content {
  display: grid;
  grid-template-columns: clamp(41px, calc(41vw/7.68), 61px) 1fr;
  grid-gap: clamp(12px, calc(12vw/7.68), 36px);
  padding-left: clamp(16px, calc(28vw/7.68), 56px);
  padding-right: clamp(16px, calc(28vw/7.68), 56px);
  margin-bottom: 24px;
  overflow: hidden;

  @media (max-width: 370px) {
    grid-template-columns: 0px 1fr;
  }

  >a {
    margin-top: 36px;
  }

  .persons {
    margin-top: 20px;
    .person {
      cursor: pointer;
      display: grid;
      grid-template-columns: 160px 1fr auto;
      @media (max-width: 549px){
        grid-template-columns: 1fr auto;
        .avatar {
          grid-column: 3/1;
        }
      }
      align-items: center;
      width: 100%;
      gap: 8px;
      text-align: left;
      transition: transform .4s var(--easing), background-color .4s;
      border-radius: 20px;
      .copy {
        padding: 16px 0 16px 16px;
      }
      &:not(:last-child){
        margin-bottom: 13px;
      }
      &:active {
        transform: scale(.98);
      }
      &:hover {
        background-color: var(--primary-50);
        svg {
          transform: translateX(8px) scale(.9);
        }
      }
      svg {
        transition: transform .4s var(--easing);
        margin-right: 13px;
      }
      .avatar {
        width: 100% !important;
        height: auto !important;
        border-radius: 20px;
        border: 1px solid var(--primary-50);
        overflow: hidden;
      }
      .name {
        color: var(--primary-800);
      }
      .profession {
        margin-top: 0;
        font-size: clamp(14rem, calc(16vw/7.68), 18rem);
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(6px, calc(12vw/7.68), 12px);
    margin-top: 24px;
    button {
      padding: 10px clamp(12px, calc(16vw/7.68), 22px) 10px clamp(12px, calc(16vw/7.68), 22px);
      font-weight: 500;
      font-size: clamp(14rem, calc(16vw/7.68), 20rem);
      line-height: 124%;
      color: var(--primary-800);
      border: 2px solid var(--primary-800);
      border-radius: 50px;
      background-color: transparent;
      transition: background-color .4s;
      &:hover {
        background-color: var(--primary-50);
      }
      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(14vw/3.7), 14rem);
      }
      &.active {
        background-color: var(--primary-800);
        color: #fff;
      }
    }
  }

  a {
    margin-top: 36px;
  }
}