.wrapper {
  border-radius: 16px;
  border: 1.5px solid var(--secondary-500);
  background: #FFF;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  padding: clamp(20px, calc(24vw/7.68), 32px) clamp(16px, calc(20vw/7.68), 36px) clamp(20px, calc(24vw/7.68), 32px) clamp(16px, calc(20vw/7.68), 36px);
  display: grid;
  gap: clamp(16px, calc(24vw/7.68), 32px);

  .result {
    width: fit-content;
    margin: 0 auto;

    svg {
      width: clamp(24px, calc(36vw/7.68), 36px);
      height: clamp(24px, calc(36vw/7.68), 36px);
    }

    .error {
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: center;
      color: #B40909;
    }

    .success {
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: center;
      color: #006729;
    }
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    span {
      color: var(--primary-800);
      font-weight: 700;
      font-size: clamp(20rem, calc(22vw/7.68), 28rem);
      white-space: nowrap;

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(16vw/3.7), 16rem);
      }
    }

    input {
      background: #FFFEFE;
      border: 2px solid var(--secondary-500);
      border-radius: 50px;
      line-height: 24px;
      padding: 10px 28px 10px 6px;
      color: var(--primary-800);
      font-weight: 500;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
      text-align: right;
      max-width: 183px;
      width: 100%;
      font-size: clamp(16rem, calc(16vw/7.68), 20rem);

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(16vw/3.7), 16rem);
      }
    }

    &.last {
      input {
        border: 2px solid #76A2D6;
      }
    }
  }
}