.header {
  background: #FFFEFE;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;

  a{
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.content {
  padding: clamp(10px, calc(20vw/7.68), 64px) 80px 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;

  @media (max-width: 1439px) {
    padding: clamp(20px, calc(30vw/7.68), 64px) clamp(16px, calc(32vw/7.68), 80px) clamp(10px, calc(20vw/7.68), 20px) clamp(16px, calc(32vw/7.68), 80px);
  }
  @media (max-width: 768px) {
    padding: 10px 16px 12px 16px;
  }
}

.logo{
  margin-right: 80px;
  @media (max-width: 768px) {
    max-width: 284px;
  }
  @media (max-width: 420px) {
    margin-top: 0;
    max-width: 164px;
  }
}