.wrapper {
  border-radius: 20px;
  border: 2px solid var(--primary-800);
  background: #FFF;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  padding: clamp(16px, calc(16vw/7.68), 28px) clamp(20px, calc(20vw/7.68), 36px) clamp(20px, calc(20vw/7.68), 32px) clamp(20px, calc(20vw/7.68), 36px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .priceflex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 18px;

    p{
      margin-top: 0;
    }
  }

  .link {
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: 20px;
  }

  .image {
    width: auto !important;
    height: auto !important;
    margin: 0 clamp(20px, calc(20vw/7.68), 40px);
  }

  h3{
    margin-top: 16px;
    font-size: clamp(20rem, calc(24vw/7.68), 36rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(20vw/3.7), 20rem);
    }
  }

  p{
    margin-top: 24px;
    font-size: clamp(16rem, calc(20vw/7.68), 20rem);

    @media (max-width: 370px) {
      font-size: clamp(0rem, calc(16vw/3.7), 16rem);
    }
  }

  >.control{
    margin: 36px auto 0 auto;

    button{
      position: relative;
      z-index: 3;
    }

    .link{
      font-size: 20rem;
      color: var(--primary-800);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      position: relative;
      z-index: 3;
    }
  }
}