.wrapper {
  margin-top: clamp(28px, calc(36vw/7.68), 64px);

  .questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(16px, calc(24vw/7.68), 36px) clamp(16px, calc(24vw/7.68 ), 32px);

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  >button {
    text-align: center;
    margin: 76px auto 0 auto;
  }

  .result {
    text-align: center;
    max-width: 730px;
    margin: 64px auto 0 auto;

    p {
      margin-top: 0;

      &:last-child {
        margin-top: clamp(18px, calc(24vw/7.68), 36px);
      }

      &:first-child {
        margin-bottom: 18px;
        font-size: clamp(20rem, calc(24vw/7.68), 32rem);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(20vw/3.7), 20rem);
        }

        span {
          color: #194574;
          font-size: clamp(22rem, calc(28vw/7.68), 36rem);

          @media (max-width: 370px) {
            font-size: clamp(0rem, calc(22vw/3.7), 22rem);
          }
        }
      }
    }
  }

  .question {
    padding: clamp(20px, calc(24vw/7.68), 48px) clamp(20px, calc(20vw/7.68), 28px) clamp(24px, calc(28vw/7.68), 48px) clamp(20px, calc(20vw/7.68), 28px);
    border-radius: 20px;
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
    transition: all .25s cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;

    p.error{
      position: absolute;
      right: 20px;
      top: -4px;
      transform: translateY(-100%);
      display: flex;
      align-items: center;
      gap: 4px;
      color: #B40909;
      font-size: 20rem;
    }

    &.error{
      border: 1px solid var(--danger-500, #B40909);
    }

    .input{
      margin-top: clamp(24px, calc(28vw/7.68), 32px);
      display: flex;
      gap: 8px clamp(4px, calc(4vw/7.68), 8px);
      flex-wrap: wrap;
    }

    span{
      color: #194574;
      padding: 10px 12px 12px 12px;
      border-radius: 54px;
      border: 1px solid var(--primary-800, #194574);
      transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
      display: block;
      font-size: clamp(14rem, calc(16vw/7.68), 16rem);

      @media (max-width: 370px) {
        padding: clamp(8px, calc(10vw/3.7), 10px) clamp(8px, calc(12vw/3.7), 12px) clamp(8px, calc(12vw/3.7), 12px) clamp(8px, calc(12vw/3.7), 12px);
        font-size: clamp(0rem, calc(14vw/3.7), 14rem);
      }
    }

    input{
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    input:checked ~ span{
      background-color: #194574;
      color: #fff;
    }
  }
}