.wrapper {
  .text {
    max-width: 700px;
    margin-top: clamp(20px, calc(28vw/7.68), 36px);
  }

  .grid {
    display: grid;
    gap: clamp(12px,2.1041666667vw,18px);
    margin-top: clamp(28px, calc(36vw/7.68), 36px);
    padding-bottom: 20px;
  }

  details {
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    summary {
      font-size: clamp(16rem, 3vw, 26rem);
      padding: clamp(12px,3.1458333333vw,24px) clamp(12px,3.875vw,28px);
      min-height: clamp(21px, calc(27vw/7.68), 27px);
      box-sizing: content-box;

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(16vw/3.7), 16rem);
      }

      &:hover {
        .plus {
          width: clamp(17px, calc(23vw/7.68), 23px);
          height: clamp(17px, calc(23vw/7.68), 23px);
          transform: translate(2px, 0);
        }
      }

      position: relative;
      cursor: pointer;
      user-select: none;
      display: grid;
      align-items: center;
      grid-template-columns: 27px 1fr;
      gap: clamp(12px,2.1041666667vw,18px);

      .plus {
        transition: all .12s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        width: clamp(21px, calc(27vw/7.68), 27px);
        height: clamp(21px, calc(27vw/7.68), 27px);
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 1px);
          left: 0;
          right: 0;
          height: 2px;
          background: var(--primary-800);
          border-radius: 5px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: calc(50% - 1px);
          width: 2px;
          background: var(--primary-800);
          border-radius: 5px;
          transform-origin: 50% 50%;
          transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
      }
    }

    .content {
       
      padding: 0 clamp(12px,3.1458333333vw,24px) clamp(12px,3.875vw,28px) clamp(51px, calc(74vw/7.68), 74px);
      max-width: 900px;
      transition: opacity .4s var(--easing), transform .4s var(--easing);
      opacity: 0;
      transform: translateY(5px);

      p, ul, ol, li, a{
        font-size: clamp(16rem,1.3266666667vw,19rem);

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(16vw/3.7), 16rem);
        }
      }

      strong{
        font-size: clamp(20rem, calc(23vw/7.68),26rem);
        margin-bottom: 4px;

        @media (max-width: 370px) {
          font-size: clamp(0rem, calc(20vw/3.7), 20rem);
        }

      }

      a {
        text-decoration: underline;
        color: #194574;
        text-decoration-thickness: 2px;
      }

      li {
        min-height: 24px;
        line-height: 125%;
      }

      li+li {
        margin-top: 12px;
      }

      ul,
      ol {
        margin: clamp(16px, calc(16vw/7.68), 18px) 0;
      }

      ul li {
        padding-left: 41px;
        position: relative;

        @media (max-width: 640px) {
          padding-left: 21px;
        }
      }

      ul li::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='37' fill='none'%3E%3Cpath fill='%23DEAFB8' d='M18.499 7.708a10.792 10.792 0 1 0 0 21.584 10.792 10.792 0 0 0 0-21.584Zm0 18.5a7.708 7.708 0 1 1 0-15.416 7.708 7.708 0 0 1 0 15.417Z'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        top: -8px;

        @media (max-width: 640px) {
          transform: scale(0.6);
          top: -9px;
          left: -12px;
        }
      }

      ol li {
        margin-left: 41px;
        list-style: decimal;

        @media (max-width: 640px) {
          margin-left: 21px;
        }
      }
    }

    &[open] {
      .plus {
        &::before {
          transform: rotateX(90deg);
        }
      }

      .content {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}