.social{
  display: flex;
  flex-wrap: wrap;
  gap: 20px 36px;
  margin-top: 120px;

  .info{
    display: flex;
    align-items: center;
    gap: 12px;

    svg{
      width: clamp(27px, calc(32vw/7.68), 37px);
      height: clamp(27px, calc(32vw/7.68), 37px);
    }

    span{
      font-size: clamp(14rem, calc(16vw/7.68), 24rem);
      line-height: 140%;
      font-weight: 500;
      color: #181818;
    }
  }
}