.wrapper {
  background: linear-gradient(44deg, #E4EEF7 0%, #FFFEFD 65.45%);
  padding: clamp(24px, calc(48vw/7.68), 48px) clamp(16px, calc(36vw/7.68), 80px);
  margin: 0 -80px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 36px;

  @media (max-width: 340px) {
    gap: 30px;
  }

  @media (max-width: 1439px) {
    border-radius: 0px;
    margin: 0 calc(-1 * clamp(16px, calc(32vw/7.68), 80px));
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 250px;

    @media (max-width: 680px) {
      width: 200px;
    }

    @media (max-width: 550px) {
      width: 150px;
    }

    @media (max-width: 380px) {
      width: 130px;
    }

    @media (max-width: 340px) {
      width: 118px;
    }
    p {
      color: var(--primary-800);
      font-size: clamp(16rem, calc(24vw/7.68), 32rem);

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(16vw/3.7), 16rem);
      }
    }

    strong {
      font-size: clamp(24rem, calc(40vw/7.68), 64rem);
      line-height: 124%;
      display: block;
      margin-bottom: 8px;
      color: inherit;

      @media (max-width: 370px) {
        font-size: clamp(0rem, calc(24vw/3.7), 24rem);
      }
    }

    svg {
      margin: 12px auto;
    }

    &.clock {
      svg {
        width: clamp(35px, calc(72vw/7.68), 85px);
        height: clamp(35px, calc(72vw/7.68), 85px);
        
        path {
          fill: var(--secondary-500);
        }
      }
    }

    &.pie {
      justify-content: flex-end;
    }

    &.stars {
      svg {
        width: clamp(118px, calc(178vw/7.68), 227px);
      }
    }
  }
}

.graph {
  --size: clamp(96px, calc(150vw/7.68), 231px);
  --border: clamp(6px, calc(12vw/7.68), 18px);
  position: relative;
  width: var(--size);
  height: var(--size);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  strong {
    margin-bottom: 0 !important;
  }
  .svg {
    transform: rotate(-90deg);
    padding: 9px;
    overflow: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
  }
}